:root {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 200%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
}

header {
    background-color: black;
    padding: 0.1em;
    color: white;
    border-bottom: 0.15em solid orangered;
}

.top {
    display: flex;
    justify-content: space-between;
}

.recommend {
    display: flex;
    padding-top: 0.1em;
    justify-content: center;
}

.red-text {
    color: orangered;
    font-weight: bold;
}

.main {
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    width: clamp(0.01em, 80ch,100ch);
    padding: 2.5em;
}

p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
